@media (max-width: 1850px) {
  .header {
    &__nav {
      margin-left: 0;
    }
  }

  .nav {
    &__list {
      margin: 0 auto;
    }
  }

  .nav-contacts {
    margin: 0 auto;
  }

  .hero {
    &__image {
      left: 0;
    }
  }
}

@media (max-width: 1649px) {
  .nav-contacts {
    flex-direction: column;

    &__link {
      margin-right: 0;
    }
  }

  .swiper-button-prev {
    left: 10px;
  }

  .swiper-button-next {
    right: 10px;
  }
}

@media (max-width: 1549px) {
  .base-information {
    &__subtitle {
      max-width: 900px;
    }
  }

  .set-item {
    &_left {
      left: -50px;
    }

    &_right {
      right: 50px;
    }
  }

  .information-item {
    &__container {
      padding: 70px 100px;
    }

    &_two {
      .information-item__container--third {
        .information-item__desc {
          max-width: 600px;
        }
      }
    }

    &_three {
      .information-item__container--second {
        .information-item__list {
          max-width: 600px;
        }
      }

      .information-item__container--third {
        .information-item__heading {
          margin-left: 0;
        }
      }
    }
  }

  .information-items {
    margin: 0;
  }

  .kit-items {
    &__item {
      padding: 32px 40px 32px 40px;
    }
  }

  .swiper-button-prev {
    left: -30px;
  }

  .swiper-button-next {
    right: -30px;
  }

  .delivery {
    &__col {
      &:nth-child(2) {
          margin-left: 50px;
      }
    }
  }
}

@media (max-width: 1439px) {
  .logo {
    &__text {
      display: none;
    }
  }

  .hero {
    &__list {
      margin-bottom: 100px;
    }
  }

  .base-information {
    padding-top: 100px;

    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__left {
      padding: 0;

      &::before {
        display: none;
      }
    }

    &__subtitle {
      max-width: none;
    }
  }

  .set {
    &__image {
      img {
        height: 500px;
      }
    }
  }

  .set-item {
    &_1 {
      top: 160px;
    }

    &_2 {
      top: 220px;
    }

    &_3 {
      top: 280px;
    }

    &_4 {
      top: 335px;
    }

    &_5 {
      top: 70px;
    }

    &_6 {
      top: 130px;
    }

    &_7 {
      top: 190px;
    }

    &_8 {
      top: 240px;
    }
  }

  .information {
    &__btn {
      &:nth-child(2) {
        margin: 0 auto;
      }
    }
  }

  .information-item {
    &__container {
      padding-top: 300px;
      background-position: top 20px center!important;
      background-size: 300px 260px!important;
    }

    &__heading {
      text-align: left!important;
    }

    &__desc {
      max-width: none!important;
      text-align: left!important;
    }

    &__list {
      max-width: none!important;
    }

    &_three {
      .information-item__container--third {
        padding-top: 70px;
      }
    }
  }

  .characteristics-section {
    &__table-title {
      padding: 15px 0px 15px !important;
    }

    &__table-col {
      padding: 30px 40px;
    }
  }

  .kit-items {
    &__info {
      margin-left: 30px;
    }
  }

  .gallery {
    &__items{
      grid-template-rows: repeat(3, 144px);
    }
  }

  .equipment {
    &__content {
      justify-content: space-between;
    }

    &__left {
      span {
        font-size: 30px;
      }
    }

    &__desc {
      font-size: 30px;
    }

    &__item {
      font-size: 30px;
    }
  }

  .sell-out {
    &__text {
      font-size: 30px;
    }
  }

  .delivery {
    &__info {
      justify-content: space-between;
    }

    &__title {
      font-size: 50px;
    }

    &__subtitle {
      font-size: 22px;
    }

    &__desc {
      font-size: 18px;
    }
  }
}

@media (max-width: 1199px) {
  .header {
    z-index: 20;

    &__container {
      max-width: 960px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    &__burger {
        display: flex;
    }
  }

  .nav {
    position: absolute;
    top: 100px;
    left: 0;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding: 30px;
    background: #F5F5F5;
    transform: translateX(-150%);
    transition: transform .3s ease;
    z-index: 20;

    &__list {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 50px;
    }

    &__item {
      margin-right: 0!important;
      &:not(:last-child) {
          margin-bottom: 20px;
      }
    }

    &--active {
      transform: none;
    }
  }

  .hero {
    &__image {
      display: none;
    }

    &__list {
      margin: 0 auto 100px;
    }
  }

  .main-title {
    text-align: center;

    img {
      margin-top: 20px;
    }
  }

  .base-information {
    &__title {
      text-align: center;

      img {
        margin-top: 20px;
      }
    }

    &__left {
      text-align: center;
    }

    &__text {
      margin: 0 auto;
    }

    &__image {
      display: none;
    }
  }

  .set {
    &__image {
      transform: translateX(40px);

      img {
        height: 450px;
      }
    }
  }

  .set-item {
    &_left {
      left: -50px;
    }

    &_right {
      right: -10px;
    }

    &__link {
      span {
        font-size: 16px;
      }
    }

    &_1 {
      top: 140px;
    }

    &_2 {
      top: 200px;
    }

    &_3 {
      top: 250px;
    }

    &_4 {
      top: 300px;
    }

    &_5 {
      top: 60px;
    }

    &_6 {
      top: 110px;
    }

    &_7 {
      top: 160px;
    }

    &_8 {
      top: 215px;
    }
  }

  .how-to-work {
    &__video {
      width: 100%;
      height: 100%;
    }
  }

  .table {
    &__title {
      padding: 15px 20px 15px 30px;
      vertical-align: middle!important;
      font-size: 24px;
    }

    &__desc {
      font-size: 18px;
    }
  }

  .information {
    &__btn {
      font-size: 18px;
    }
  }

  .characteristics-section {
    &__table {
      &-title {
        font-size: 26px;
      }

      &-col {
        padding: 20px;
      }
    }
  }

  .kit {
    &__buy {
      justify-content: space-around;
    }
  }

  .kit-items {
    &__item {
      flex-direction: column;

      img {
        margin-bottom: 20px;
      }
    }

    &__image {
      width: 100%;
    }

    &__info {
      width: 100%;
      margin-left: 0;
    }

    &__title {
      text-align: center;
    }

    &__desc {
      max-width: none;
    }
  }

  .gallery {
    &__items{
      grid-template-rows: repeat(3, 115px);
    }
  }

  .equipment {
    &__content {
      flex-direction: column;
    }

    &__image {
      order: 1;
      margin-bottom: 100px;
    }

    &__left {
      order: 2;
    }
  }

  .delivery {
    background-image: url(../images/delivery-bg.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
    &__container {
      align-items: center;
    }

    &__info {
      display: block;
    }

    &__image {
      display: none;
    }

    &__company {
      width: 100%;
      margin-bottom: 10px;

      img {
          margin: 0 auto 20px!important;
      }
    }
  }

  .footer {
    &__container {
      max-width: 100%;
    }
  }
}

@media (max-width: 991px) {
  .title {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
  }

  .set {
    &__image {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      transform: none;

      img {
        height: auto;
        margin-bottom: 50px;
      }
    }
  }

  .set-item {
    position: initial;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &__link {
      span {
        position: relative;
        display: block;
        padding-left: 40px;
        font-size: 18px;

        &::before {
          position: absolute;
          top: -2px;
          left: 0;
          width: 26px;
          height: 26px;
          padding: 2px 0;
          border: 1px solid var(--text-color);
          border-radius: 100%;
          font-size: 18px;
          font-weight: 700;
          color: var(--green-color);
          text-align: center;
        }
      }
    }

    &_1 {
      .set-item__link span::before {
        content: '1';
      }
    }

    &_2 {
      .set-item__link span::before {
        content: '2';
      }
    }

    &_3 {
      .set-item__link span::before {
        content: '3';
      }
    }

    &_4 {
      .set-item__link span::before {
        content: '4';
      }
    }

    &_5 {
      .set-item__link span::before {
        content: '5';
      }
    }

    &_6 {
      .set-item__link span::before {
        content: '6';
      }
    }

    &_7 {
      .set-item__link span::before {
        content: '7';
      }
    }

    &_8 {
      .set-item__link span::before {
        content: '8';
      }
    }
  }

  .wares {
    &__subtitle {
      font-size: 30px;
      line-height: 40px;
    }
  }

  .wares-table {
    &__title {
      font-size: 20px;
    }
  }

  .table {
    &__title {
      font-size: 20px;
      line-height: 25px;
    }

    &__desc {
      font-size: 16px;
      line-height: 20px;

      .big {
        font-size: 20px;
      }
    }

    &__info {
      font-size: 26px;
    }

    &__price {
      &--now {
        font-size: 40px!important;
      }

      &--old {
        padding-left: 38px;
        font-size: 26px;
      }
    }
  }

  .information {
    &__btn {
      padding: 0 0 20px;
    }
  }

  .information-item {
    &__subtitle {
      font-size: 30px;
      line-height: 40px;
      text-align: center;
    }

    &__heading {
      font-size: 30px;
      line-height: 40px;
    }

    &__desc {
      font-size: 18px;

      .big {
        font-size: 26px;
        line-height: 30px;
      }
    }
  }

  .video-reviews {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .gallery {
    &__items{
      gap: 20px;
      grid-template-rows: repeat(3, 88px);
    }
  }

  .equipment {
    &__content {
      margin-bottom: 30px;
    }
  }

  .sell-out {
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__text {
      margin-bottom: 20px;
    }
  }

  .manufacturer {
    &__title {
      line-height: 40px;
    }

    &__list {
      padding-left: 0;
    }
  }

  .footer {
    padding: 100px 0;

    &__container {
      flex-direction: column;
      align-items: center;
    }

    &__link {
      order: 1;
      margin-bottom: 30px;
      text-align: center;
    }
  }

  .footer-phone {
    order: 2;
    text-align: center;
    margin-bottom: 30px;
  }

  .footer-privacy {
    order: 3;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .main-title {
    font-size: 50px;
    line-height: 60px;

    span {
      background-size: 90%;
    }
  }

  .hero {
    &__container {
      display: block;
    }
  }

  .hero-list {
    max-width: none;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: none;
    text-align: center;

    &__item {
      &:nth-child(2n+1) {
        margin-right: 0;
      }

      &:nth-child(n+3) {
        margin-top: 0;
      }

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  .wares-table {
    &__title {
      padding: 10px!important;
      font-size: 18px;
      line-height: 24px;
    }

    &__col {
      padding: 0;
    }
  }

  .table {
    display: none;
  }

  .table-mobile {
    display: flex;
  }

  .information {
    &__buttons {
      flex-direction: column;
      align-items: center;
      background-image: none;
    }

    &__btn {
      padding-bottom: 10px;
      line-height: 30px;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  .information-item {
    &__container {
      padding: 300px 20px 70px;
    }

    &_three {
      .information-item__container--second {
        .information-item__object:nth-child(2) {
          margin-left: 0;
        }
        .information-item__object:nth-child(3) {
          margin-left: 0;
        }
        .information-item__object:nth-child(4) {
          margin-left: 0;
        }
      }
    }
  }

  .information-items {
    grid-template-columns: repeat(1, 1fr);
  }

  .characteristics-section {
    &__table {
      display: none;
    }
  }

  .characteristics-mobile {
    display: block;
  }

  .kit {
    &__buy {
      flex-direction: column;
      align-items: center;
    }
  }

  .gallery {
    &__items {
      gap: 10px;
      grid-template-rows: repeat(3, 70px);
    }
  }

  .equipment {
    &__left {
      span {
        font-size: 26px;
      }
    }

    &__item {
      font-size: 20px;
    }
  }

  .reviews {
    padding-bottom: 0;
  }
}

@media (max-width: 576px) {
  .hero-buy {
    flex-direction: column;
    align-items: center;

    &__prices {
      margin-right: 0;
      margin-bottom: 40px;
    }
  }

  .video-reviews {
    &__list {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .gallery {
    &__items{
      gap: 5px;
      grid-template-rows: repeat(3, auto);
    }
  }

  .delivery {
    &__container {
        flex-direction: column;
    }

    &__col {
      &:first-child {
        order: 2;
        margin-top: 40px;
      }

      &:nth-child(2) {
        margin: 0 auto;
        text-align: center;
      }
    }

    &__price {
      justify-content: center;
    }
  }

  .swiper-button-prev, .swiper-button-next {
    display: none;
  }
}

@media (max-width: 480px) {
  .main-title {
    font-size: 30px;
    line-height: 30px;

    span {
      background-size: 50%;
      background-position: left bottom;
    }
  }

  .title {
    font-size: 30px;
    line-height: 40px;
  }

  .hero-list {
    display: block;
    margin: 0 auto 50px;

    &__title {
      white-space: inherit;
    }
  }

  .set {
    &__subtitle {
      font-size: 20px;
      line-height: 30px;
    }
  }

  .wares {
    padding-bottom: 60px;

    &__subtitle {
      font-size: 20px;
      line-height: 30px;
    }
  }

  .wares-table {
    &__title {
      font-size: 14px;
      line-height: 16px;
    }
  }

  .information-item {
    &__subtitle {
      font-size: 20px;
      line-height: 30px;
    }

    &__container {
      padding: 350px 10px 80px;
      background-position: top 70px center !important;
    }

    &__heading {
      font-size: 20px;
      line-height: 30px;
    }

    &__desc {
      font-size: 16px;

      .big {
        font-size: 20px;
      }
    }

    &__list {
      padding-left: 20px;

      span {
        font-size: 18px;
      }

      &_not-decoration {
        padding-left: 0;
      }
    }

    &__object {
      font-size: 16px;

      span {
        font-size: 16px;
        line-height: 20px;
      }
    }

    &_three {
      .information-item__container--third {
        padding-top: 80px;
      }
    }
  }

  .information-items {
    &__desc {
      font-size: 16px;
    }
  }

  .characteristics-section {
    &__title {
      margin-bottom: 50px;
    }

    &__table {
      th {
        &:first-child {
          display: none;
        }
      }

      &-title {
        line-height: 20px;
      }

      &-image {
        display: none;
      }
    }
  }

  .kit {
    padding-bottom: 0;
  }

  .kit-items {
    &__title {
      font-size: 30px;
      line-height: 40px;
    }
  }

  .buy {
    &__prices {
      margin-bottom: 30px;
    }

    &__price {
      &--old {
        padding-left: 40px;
      }
  
      &--now {
        font-size: 40px;
      }
    }
  }

  .gallery {
    padding-bottom: 0;
  }

  .equipment {
    &__desc {
      font-size: 20px;
      line-height: 30px;
    }
  }

  .manufacturer {
    &__title {
      font-size: 30px;
    }
  }

  .footer-phone {
    &__link {
      font-size: 30px;
      line-height: 30px;
    }
  }
}