@media (max-width: 1850px) {
  .header__nav {
    margin-left: 0;
  }
  .nav__list {
    margin: 0 auto;
  }
  .nav-contacts {
    margin: 0 auto;
  }
  .hero__image {
    left: 0;
  }
}

@media (max-width: 1649px) {
  .nav-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-contacts__link {
    margin-right: 0;
  }
  .swiper-button-prev {
    left: 10px;
  }
  .swiper-button-next {
    right: 10px;
  }
}

@media (max-width: 1549px) {
  .base-information__subtitle {
    max-width: 900px;
  }
  .set-item_left {
    left: -50px;
  }
  .set-item_right {
    right: 50px;
  }
  .information-item__container {
    padding: 70px 100px;
  }
  .information-item_two .information-item__container--third .information-item__desc {
    max-width: 600px;
  }
  .information-item_three .information-item__container--second .information-item__list {
    max-width: 600px;
  }
  .information-item_three .information-item__container--third .information-item__heading {
    margin-left: 0;
  }
  .information-items {
    margin: 0;
  }
  .kit-items__item {
    padding: 32px 40px 32px 40px;
  }
  .swiper-button-prev {
    left: -30px;
  }
  .swiper-button-next {
    right: -30px;
  }
  .delivery__col:nth-child(2) {
    margin-left: 50px;
  }
}

@media (max-width: 1439px) {
  .logo__text {
    display: none;
  }
  .hero__list {
    margin-bottom: 100px;
  }
  .base-information {
    padding-top: 100px;
  }
  .base-information__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .base-information__left {
    padding: 0;
  }
  .base-information__left::before {
    display: none;
  }
  .base-information__subtitle {
    max-width: none;
  }
  .set__image img {
    height: 500px;
  }
  .set-item_1 {
    top: 160px;
  }
  .set-item_2 {
    top: 220px;
  }
  .set-item_3 {
    top: 280px;
  }
  .set-item_4 {
    top: 335px;
  }
  .set-item_5 {
    top: 70px;
  }
  .set-item_6 {
    top: 130px;
  }
  .set-item_7 {
    top: 190px;
  }
  .set-item_8 {
    top: 240px;
  }
  .information__btn:nth-child(2) {
    margin: 0 auto;
  }
  .information-item__container {
    padding-top: 300px;
    background-position: top 20px center !important;
    background-size: 300px 260px !important;
  }
  .information-item__heading {
    text-align: left !important;
  }
  .information-item__desc {
    max-width: none !important;
    text-align: left !important;
  }
  .information-item__list {
    max-width: none !important;
  }
  .information-item_three .information-item__container--third {
    padding-top: 70px;
  }
  .characteristics-section__table-title {
    padding: 15px 0px 15px !important;
  }
  .characteristics-section__table-col {
    padding: 30px 40px;
  }
  .kit-items__info {
    margin-left: 30px;
  }
  .gallery__items {
    -ms-grid-rows: (144px)[3];
        grid-template-rows: repeat(3, 144px);
  }
  .equipment__content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .equipment__left span {
    font-size: 30px;
  }
  .equipment__desc {
    font-size: 30px;
  }
  .equipment__item {
    font-size: 30px;
  }
  .sell-out__text {
    font-size: 30px;
  }
  .delivery__info {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .delivery__title {
    font-size: 50px;
  }
  .delivery__subtitle {
    font-size: 22px;
  }
  .delivery__desc {
    font-size: 18px;
  }
}

@media (max-width: 1199px) {
  .header {
    z-index: 20;
  }
  .header__container {
    max-width: 960px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav {
    position: absolute;
    top: 100px;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
    padding: 30px;
    background: #F5F5F5;
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
    z-index: 20;
  }
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
  .nav__item {
    margin-right: 0 !important;
  }
  .nav__item:not(:last-child) {
    margin-bottom: 20px;
  }
  .nav--active {
    -webkit-transform: none;
            transform: none;
  }
  .hero__image {
    display: none;
  }
  .hero__list {
    margin: 0 auto 100px;
  }
  .main-title {
    text-align: center;
  }
  .main-title img {
    margin-top: 20px;
  }
  .base-information__title {
    text-align: center;
  }
  .base-information__title img {
    margin-top: 20px;
  }
  .base-information__left {
    text-align: center;
  }
  .base-information__text {
    margin: 0 auto;
  }
  .base-information__image {
    display: none;
  }
  .set__image {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  .set__image img {
    height: 450px;
  }
  .set-item_left {
    left: -50px;
  }
  .set-item_right {
    right: -10px;
  }
  .set-item__link span {
    font-size: 16px;
  }
  .set-item_1 {
    top: 140px;
  }
  .set-item_2 {
    top: 200px;
  }
  .set-item_3 {
    top: 250px;
  }
  .set-item_4 {
    top: 300px;
  }
  .set-item_5 {
    top: 60px;
  }
  .set-item_6 {
    top: 110px;
  }
  .set-item_7 {
    top: 160px;
  }
  .set-item_8 {
    top: 215px;
  }
  .how-to-work__video {
    width: 100%;
    height: 100%;
  }
  .table__title {
    padding: 15px 20px 15px 30px;
    vertical-align: middle !important;
    font-size: 24px;
  }
  .table__desc {
    font-size: 18px;
  }
  .information__btn {
    font-size: 18px;
  }
  .characteristics-section__table-title {
    font-size: 26px;
  }
  .characteristics-section__table-col {
    padding: 20px;
  }
  .kit__buy {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .kit-items__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .kit-items__item img {
    margin-bottom: 20px;
  }
  .kit-items__info {
    margin-left: 0;
  }
  .kit-items__title {
    text-align: center;
  }
  .kit-items__desc {
    max-width: none;
  }
  .gallery__items {
    -ms-grid-rows: (115px)[3];
        grid-template-rows: repeat(3, 115px);
  }
  .equipment__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .equipment__image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 100px;
  }
  .equipment__left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .delivery {
    background-image: url(../images/delivery-bg.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .delivery__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .delivery__info {
    display: block;
  }
  .delivery__image {
    display: none;
  }
  .delivery__company {
    width: 100%;
    margin-bottom: 10px;
  }
  .delivery__company img {
    margin: 0 auto 20px !important;
  }
  .footer__container {
    max-width: 100%;
  }
}

@media (max-width: 991px) {
  .title {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
  }
  .set__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-transform: none;
            transform: none;
  }
  .set__image img {
    height: 100%;
    margin-bottom: 50px;
  }
  .set-item {
    position: initial;
    width: 100%;
  }
  .set-item:not(:last-child) {
    margin-bottom: 15px;
  }
  .set-item__link span {
    position: relative;
    display: block;
    padding-left: 40px;
    font-size: 18px;
  }
  .set-item__link span::before {
    position: absolute;
    top: -2px;
    left: 0;
    width: 26px;
    height: 26px;
    padding: 2px 0;
    border: 1px solid var(--text-color);
    border-radius: 100%;
    font-size: 18px;
    font-weight: 700;
    color: var(--green-color);
    text-align: center;
  }
  .set-item_1 .set-item__link span::before {
    content: '1';
  }
  .set-item_2 .set-item__link span::before {
    content: '2';
  }
  .set-item_3 .set-item__link span::before {
    content: '3';
  }
  .set-item_4 .set-item__link span::before {
    content: '4';
  }
  .set-item_5 .set-item__link span::before {
    content: '5';
  }
  .set-item_6 .set-item__link span::before {
    content: '6';
  }
  .set-item_7 .set-item__link span::before {
    content: '7';
  }
  .set-item_8 .set-item__link span::before {
    content: '8';
  }
  .wares__subtitle {
    font-size: 30px;
    line-height: 40px;
  }
  .wares-table__title {
    font-size: 20px;
  }
  .table__title {
    font-size: 20px;
    line-height: 25px;
  }
  .table__desc {
    font-size: 16px;
    line-height: 20px;
  }
  .table__desc .big {
    font-size: 20px;
  }
  .table__info {
    font-size: 26px;
  }
  .table__price--now {
    font-size: 40px !important;
  }
  .table__price--old {
    padding-left: 38px;
    font-size: 26px;
  }
  .information__btn {
    padding: 0 0 20px;
  }
  .information-item__subtitle {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
  }
  .information-item__heading {
    font-size: 30px;
    line-height: 40px;
  }
  .information-item__desc {
    font-size: 18px;
  }
  .information-item__desc .big {
    font-size: 26px;
    line-height: 30px;
  }
  .video-reviews__list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .gallery__items {
    gap: 20px;
    -ms-grid-rows: (88px)[3];
        grid-template-rows: repeat(3, 88px);
  }
  .equipment__content {
    margin-bottom: 30px;
  }
  .sell-out {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .sell-out__text {
    margin-bottom: 20px;
  }
  .manufacturer__title {
    line-height: 40px;
  }
  .manufacturer__list {
    padding-left: 0;
  }
  .footer {
    padding: 100px 0;
  }
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__link {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 30px;
    text-align: center;
  }
  .footer-phone {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
    margin-bottom: 30px;
  }
  .footer-privacy {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .main-title {
    font-size: 50px;
    line-height: 60px;
  }
  .main-title span {
    background-size: 90%;
  }
  .hero__container {
    display: block;
  }
  .hero-list {
    max-width: none;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: none;
    text-align: center;
  }
  .hero-list__item:nth-child(2n+1) {
    margin-right: 0;
  }
  .hero-list__item:nth-child(n+3) {
    margin-top: 0;
  }
  .hero-list__item:not(:last-child) {
    margin-bottom: 20px;
  }
  .wares-table__title {
    padding: 10px !important;
    font-size: 18px;
    line-height: 24px;
  }
  .wares-table__col {
    padding: 0;
  }
  .table {
    display: none;
  }
  .table-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .information__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: none;
  }
  .information__btn {
    padding-bottom: 10px;
    line-height: 30px;
  }
  .information__btn:not(:last-child) {
    margin-bottom: 15px;
  }
  .information-item__container {
    padding: 300px 20px 70px;
  }
  .information-item_three .information-item__container--second .information-item__object:nth-child(2) {
    margin-left: 0;
  }
  .information-item_three .information-item__container--second .information-item__object:nth-child(3) {
    margin-left: 0;
  }
  .information-item_three .information-item__container--second .information-item__object:nth-child(4) {
    margin-left: 0;
  }
  .information-items {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .characteristics-section__table {
    display: none;
  }
  .characteristics-mobile {
    display: block;
  }
  .kit__buy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gallery__items {
    gap: 10px;
    -ms-grid-rows: (70px)[3];
        grid-template-rows: repeat(3, 70px);
  }
  .equipment__left span {
    font-size: 26px;
  }
  .equipment__item {
    font-size: 20px;
  }
  .reviews {
    padding-bottom: 0;
  }
}

@media (max-width: 576px) {
  .hero-buy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-buy__prices {
    margin-right: 0;
    margin-bottom: 40px;
  }
  .video-reviews__list {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .gallery__items {
    gap: 5px;
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
  }
  .delivery__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .delivery__col:first-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 40px;
  }
  .delivery__col:nth-child(2) {
    margin: 0 auto;
    text-align: center;
  }
  .delivery__price {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .swiper-button-prev, .swiper-button-next {
    display: none;
  }
}

@media (max-width: 480px) {
  .main-title {
    font-size: 30px;
    line-height: 30px;
  }
  .main-title span {
    background-size: 50%;
    background-position: left bottom;
  }
  .title {
    font-size: 30px;
    line-height: 40px;
  }
  .hero-list {
    display: block;
    margin: 0 auto 50px;
  }
  .hero-list__title {
    white-space: inherit;
  }
  .set__subtitle {
    font-size: 20px;
    line-height: 30px;
  }
  .wares {
    padding-bottom: 60px;
  }
  .wares__subtitle {
    font-size: 20px;
    line-height: 30px;
  }
  .wares-table__title {
    font-size: 14px;
    line-height: 16px;
  }
  .information-item__subtitle {
    font-size: 20px;
    line-height: 30px;
  }
  .information-item__container {
    padding: 350px 10px 80px;
    background-position: top 70px center !important;
  }
  .information-item__heading {
    font-size: 20px;
    line-height: 30px;
  }
  .information-item__desc {
    font-size: 16px;
  }
  .information-item__desc .big {
    font-size: 20px;
  }
  .information-item__list {
    padding-left: 20px;
  }
  .information-item__list span {
    font-size: 18px;
  }
  .information-item__list_not-decoration {
    padding-left: 0;
  }
  .information-item__object {
    font-size: 16px;
  }
  .information-item__object span {
    font-size: 16px;
    line-height: 20px;
  }
  .information-item_three .information-item__container--third {
    padding-top: 80px;
  }
  .information-items__desc {
    font-size: 16px;
  }
  .characteristics-section__title {
    margin-bottom: 50px;
  }
  .characteristics-section__table th:first-child {
    display: none;
  }
  .characteristics-section__table-title {
    line-height: 20px;
  }
  .characteristics-section__table-image {
    display: none;
  }
  .kit {
    padding-bottom: 0;
  }
  .kit-items__title {
    font-size: 30px;
    line-height: 40px;
  }
  .buy__prices {
    margin-bottom: 30px;
  }
  .buy__price--old {
    padding-left: 40px;
  }
  .buy__price--now {
    font-size: 40px;
  }
  .gallery {
    padding-bottom: 0;
  }
  .equipment__desc {
    font-size: 20px;
    line-height: 30px;
  }
  .manufacturer__title {
    font-size: 30px;
  }
  .footer-phone__link {
    font-size: 30px;
    line-height: 30px;
  }
}
