.equipment {
  padding: 40px 0 100px;

  &__title {
    margin-bottom: 30px;
  }

  &__desc {
    margin: 0;
    margin-bottom: 60px;
    font-weight: 600;
    font-size: 30px;
    line-height: 28px;
    color: var(--text-color);
    text-align: center;
  }

  &__content {
    margin-bottom: 115px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__left {
    span {
      margin-bottom: 5px;
      display: block;
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      color: var(--text-color);
    }
  }

  &__list {
    margin-bottom: 60px;
  }

  &__item {
    font-size: 20px;
    line-height: 28px;
    color: var(--text-color);

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

.sell-out {
  display: flex;
  align-items: center;
  justify-content: space-around;

  &__text {
    margin: 0;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    color: var(--text-color);

    span {
      color: #FF0000;
    }
  }
}