.gallery {
  padding: 40px 0 100px;
  
  &__title {
    margin-bottom: 50px;
  }

  &__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    width: 33.333%;
    height: 410px;
    padding: 0 0 1px 1px;

    img {
      height: 100%;
      object-fit: cover;
    }
  }
}