.header {
  background-color: #FBFBFB;

  &__container {
    max-width: 1780px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100px;
  }

  &__nav {
    margin-left: 90px;
  }
}

.logo {
  display: flex;
  align-items: center;

  &__text {
    margin-left: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--text-color);
  }
}