.how-to-work {
  padding: 50px 0 100px;

  &__title {
    margin-bottom: 50px;
  }

  &__video {
    width: 1064px;
    height: 614px;
    margin: 0 auto;

    &-container {
      padding-bottom: 56%;
    }
  }
}