.reviews {
  padding-top: 100px;
  padding-bottom: 138px;

  &__title {
      margin-bottom: 50px;
      font-size: 70px;
      line-height: 87px;
  }

  &__container {
      position: relative;
  }
}

.swiper-button-next, .swiper-button-prev {
  width: 42px;
  height: 74px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: transparent;
}

.swiper-button-prev {
  left: -50px;
  background-image: url(../images/arrow-prev.svg);
}

.swiper-button-next {
  right: -50px;
  background-image: url(../images/arrow-next.svg);
}