.set {
  padding: 40px 0 100px;
  background-color: var(--light-color);

  &__title {
    margin: 0;
    margin-bottom: 15px;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: var(--text-color);
    text-align: center;
  }

  &__image {
    position: relative;
  }
}

.set-item {
  position: absolute;

  &__link {
    span {
      font-weight: 700;
      font-size: 19px;
      line-height: 23px;
      color: #1F1F1F;
    }
  }

  &_left {
    left: 50px;
  }

  &_right {
    right: 200px;
  }

  &_1 {
    top: 220px;
    width: 327px;
  }

  &_2 {
    top: 300px;
    width: 272px;
  }

  &_3 {
    top: 370px;
    width: 279px;
  }

  &_4 {
    top: 450px;
    width: 277px;
  }

  &_5 {
    top: 110px;
    width: 280px;
  }

  &_6 {
    top: 180px;
    width: 350px;
  }

  &_7 {
    top: 250px;
    width: 256px;
  }

  &_8 {
    top: 330px;
    width: 326px;
  }

  &__desc {
    display: none;
    background-position: bottom right;
    background-size: 50%;
    background-repeat: no-repeat;

    &_1 {
      background-image: url(../images/set-item/set-item-1.png);
      background-size: 40%;
      background-position: bottom right 100px;
    }

    &_2 {
      background-image: url(../images/set-item/set-item-2.png);
    }

    &_3 {
      background-image: url(../images/set-item/set-item-3.png);
    }

    &_4 {
      background-image: url(../images/set-item/set-item-4.png);
      background-size: 40%;
    }

    &_5 {
      background-image: url(../images/set-item/set-item-5.png);
    }

    &_6 {
      background-image: url(../images/set-item/set-item-6.png);
      background-size: 30%;
      background-position: bottom right 100px;
    }

    &_7 {
      background-image: url(../images/set-item/set-item-7.png);
    }

    &_8 {
      background-image: url(../images/set-item/set-item-8.png);
      background-size: 40%;
      background-position: bottom right;
    }

    &-image {
      display: none;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 70px;
  }

  &__name {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #1F1F1F;
  }

  &__text {
    max-width: 550px;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: var(--text-color);

    span {
      font-weight: 600;
    }
  }

  &__list {
    margin-bottom: 55px;
  }

  &__list-item {
    font-size: 20px;
    line-height: 28px;
    color: var(--text-color);

    span {
      font-weight: 600;
    }

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__btn {
    width: 22px;
    height: 38px;
    background-position: center;
    background-repeat: no-repeat;

    &-prev {
      margin-right: 50px;
      background-image: url(../images/set-item/set-item-prev.svg);
    }

    &-next {
      background-image: url(../images/set-item/set-item-next.svg);
    }
  }
}